.page{
    display:flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.tab{
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
}

.tab tr,td{
    border-style: solid;
    width: 100px;
    height: 100px;
}